GEMINI_API_KEY=
WEB_LOCAL_MODULE_PATH=app/preview/generatedComponent.tsx

# file path to output component file

DEP_TYPE= # serverless or local

# For serverless deployment
MYDS_JSON=
ICON_DB=
COMPONENT_DB=
DESIGN_DOC=
COLOR_DOC=